<header class ="topbars">
	<script src="/lapa/client.js", type="module"></script>
	<link rel="stylesheet" href="/lapa/headerstyle.css">
	<div class="nav_buttons">
		<a href="<%=constants.section%>" id="home_button"><%=constants.home_button%></a>
		<a href='<%=constants.search%>' id="search_button"><%=constants.search_button%></a>
		<a href="<%=constants.publish%>" id="publish_button"><%=constants.publish_button%></a>
	</div>
	<h1 id="page_title"><%-constants.pagetitle%></h1>
	<div class="user_status"><% if (user!==null && user!==undefined) { %>
		<a href="<%=userstatus_page%>"><%-userstatus_name%></a>
		<button id="signoutbutton"><%-constants.signout_name%></button>
	<% }else{ %> 
		<a href="<%=constants.signinhref%>"><%=constants.login_name%></a>
		<a href="<%=constants.signuphref%>"><%=constants.signup_name%></a>
	<% }%>
	</div>
</header>