<%- include('../misc/hardening.ejs') %>
<%- include('./uuid_coding.ejs') %>
<header class ="topbars">
	<script src="/lapa/client.js" defer type="module"></script>
	<script src="/lapa/chatting.js" defer type="module"></script>
	<link rel="stylesheet" href="/lapa/headerstyle.css">
	<div class="nav_buttons">
		<div><a href="<%=constants.section%>" id="home_button"><button type="button"><%=lang.header.home_button%></button></a></div>
		<div class="seperator"></div>
		<div><a href='<%=constants.search%>' id="search_button"><button type="button"><%=lang.header.search_button%></button></a></div>
		<div class="seperator"></div>
		<div><a href="<%=constants.publish%>" id="publish_button"><button type="button"><%=lang.header.publish_button%></button></a></div>
		<div class="seperator"></div>
	</div>
	<div>
		<h1 id="page_title"><%-lang.header.page_title%></h1>
	</div>
	<div id="topbars-options">
		<div class="user_status">
			<div class="seperator"></div>
			<% if (user!==null && user!==undefined) { %>
				<div id="user_id" style="display:none"><%-user.id%></div>
				<div><a href="/user/profile/<%=user.username%>"><button type="button"><%=user.username%></button></a></div>
				<div class="seperator"></div>
				<div><button id="signoutbutton"><%-lang.header.signout_name%></button></div>
				<div class="seperator"></div>
			<% }else{ %> 
				<div><a href="<%=constants.signinhref%>?redirect=<%=originURL%>"><button type="button"><%=lang.header.login_name%></button></a></div>
				<div class="seperator"></div>
				<div><a href="<%=constants.signuphref%>"><button type="button"><%=lang.header.signup_name%></button></a></div>
				<div class="seperator"></div>
			<% }%>
		</div>
		<div class="language_buttons">
			<form>
				<select id="language">
					<option id="LV_lang">LV</option>
					<option id="EN_lang">ENG</option>
				</select>
			</form>
		</div>
	</div>
	
</header>