<header class ="topbars">
	
	<link rel="stylesheet" href="/lapa/lapina.css">
	<div class="nav_buttons">
		<a href="<%="sectionname"%>" id="home_button"><%="homebutton_name"%></a>
		<a href='<%="search"%>' id="search_button"><%="searchbutton_name"%></a>
		<a href="<%="publish"%>" id="publish_button"><%="publishbutton_name"%></a>
	</div>
	<h1 id="page_title"><%-"pagetitle"%></h1>
	<div class="user_status">
		<a href='/<%%=userstatus_page%>'>"<%%-userstatus_name%>"</a>
	</div>
</header>
