<%- include('../misc/hardening.ejs') %>
<header class ="topbars">
	<script src="/lapa/client.js" defer type="module"></script>
	<script src="/lapa/chatting.js" defer type="module"></script>
	<link rel="stylesheet" href="/lapa/headerstyle.css">
	<div class="nav_buttons">
		<a href="<%=constants.section%>" id="home_button"><%=lang.header.home_button%></a>
		<a href='<%=constants.search%>' id="search_button"><%=lang.header.search_button%></a>
		<a href="<%=constants.publish%>" id="publish_button"><%=lang.header.publish_button%></a>
	</div>
	<h1 id="page_title"><%-lang.header.page_title%></h1>
	<div class="user_status"><% if (user!==null && user!==undefined) { %>
		<div hidden id="user_id"><%-user.id%></div>
		<a href="<%=userstatus_page%>"><%-userstatus_name%></a>
		<button id="signoutbutton"><%-lang.header.signout_name%></button>
	<% }else{ %> 
		<a href="<%=constants.signinhref%>"><%=lang.header.login_name%></a>
		<a href="<%=constants.signuphref%>"><%=lang.header.signup_name%></a>
	<% }%>
	
	</div>
	<div class="language_buttons">
		<form>
			<select id="language">
				<option id="LV_lang">LV</option>
				<option id="EN_lang">ENG</option>
			</select>
		</form>
	</div>
</header>