<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/listings.css">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
        
    </div>
    <div class="main_container">
        <div class="listings">
            <h1 id="subcategory_name"><%- subsec_name %></h1>
            <div class="filterbar">
                <button id="price_asc"><%-lang.listingfiltering.price_asc%></button>
                <button id="price_desc"><%-lang.listingfiltering.price_desc%></button>
                <button id="oldest"><%-lang.listingfiltering.oldest%></button>
                <button id="newest"><%-lang.listingfiltering.newest%></button>
            </div>
            <div id="subcategory_list">
				<% listings.forEach(listing => { %>
                    <% if (listing.status === "open") { %>
                        <% if (listing.user != undefined) { %>
                            <% if (!listing.user.banned) { %>
                                    <div class="listingitem" data-price="<%=listing.start_price%>" data-date="<%=transformDatewithhours(listing.createdAt)%>">
                                            <a href='/listing/item?id=<%=encodeUUID(listing.id)%>'>
                                                <button type="button">
                                                    <%- listing.title %>
                                                </button>
                                            </a>
                                            <div class="listingprice"><%-lang.listing_item.startprice%> - <div class="price"><%=listing.start_price%></div>$</div>
                                            <div class="createdat"><%-lang.listing_item.postdate%> <%=transformDate(listing.createdAt)%></div>
                                            <div class="listingimage">
                                                <% if(listing.media[0] !== undefined && listing.media[0] !== null) { %>
                                                    <img src="/files/<%= listing.media[0].uuid + listing.media[0].extension %>" alt="descripting image">
                                                <% } %>
                                            </div>
                                    </div>
                            <% } %>
                        <% } %>
                    <% } %>
				<% }) %>
			</div>
        </div>
        <% if (user !== null){ %>
            <a href="/listing/create?sectionId=<%=secId%>&subsectionId=<%=subsec_Id%>"><button type="button"><%-lang.listing_form.add_listing%></button></a>
        <% } %>
    </div>
</body>
</html>