<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
        
    </div>
    <div class="main_container">

        <div class="listings">
            <h1 id="subcategory_name"><%- subsec_name %></h1>
            <ul id="subcategory_list">
				<% listings.forEach(listing => { %>
                    <% if (listing.status === "open") { %>
                        <% if (listing.user != undefined) { %>
                            <% if (!listing.user.banned) { %>
                                <a href='/listing/item?listingId=<%=listing.id%>'><%- listing.title %></a>
                            <% } %>
                        <% } %>
                    <% } %>
				<% }) %>
			</ul>
        </div>
        <% if (user !== null){ %>
            <a href="/listing/create?sectionId=<%=secId%>&subsectionId=<%=subsec_Id%>"><%-lang.listing_form.add_listing%></a>
        <% } %>
    </div>
</body>
</html>