<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/listing_item.css">
    <title></title>
</head>
<body>
	<script type="module" defer src="/lapa/listing_item.js"></script>
    <div class="header">
        <%- include('../misc/header') %>
        
    </div>
    <div class="main_container">
        <div class="listing">
            <h1 id="listing_name"><%- listing.title %></h1>
			<div id="gallery-shell">
				<button class="navbtn" id="prvgal" type="button">&lt;</button>
				<div id="gallery">
					<% media.forEach((item, index) => { %>
						<img src="/files/<%= item.uuid + item.extension %>" <% if (index !== 0) { %>class="rightimg"<% } %> alt="descripting image">
					<% });%>
				</div>
				<button class="navbtn" id="nxtgal" type="button">&gt;</button>
			</div>
            <div class="description">
                <p><%-listing.body%></p>
                <p><%-lang.listing_item.startprice%> - <%-listing.start_price%>$</p>
                <p><%-lang.listing_item.author%> - <a href="/user/profile/<%=author_profile%>"><%-author%></a></p>
                <p><%-lang.listing_item.postdate%> <%-listing.createdAt%></p>
                <% if (user != null) { %>
                    <% if (authorid == user.id || user.accesslevel.category_admin) { %>
                        <% if (authorid == user.id) { %>
                            <a href="/listing/edit?id=<%=encodeUUID(listing.id)%>"><%-lang.listing_item.edit%></a> <br>
                        <% } %>
                        <% if (listing.status == 'open') { %>
                            <button id="closelisting">Close listing</button>
                        <% } else { %>
                            <button id="openlisting">Open listing</button>
                        <% } %>
                    <% } %>
                <% } %>
			</div>
            <br>
            <a href="/listing/<%=listing.subsectionId%>">Back to subsection</a>
        </div>
    </div>
</body>
</html>