<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
        
    </div>
    <div class="main_container">

        <div class="listing">
            <h1 id="listing_name"><%- title %></h1>
            <div class="description">
                <p><%-body%></p>
                <p><%-lang.listing_item.startprice%> - <%-startprice%>$</p>
                <p><%-lang.listing_item.author%> - <a href="/user/profile/<%=author_profile%>"><%-author%></a></p>
                <p><%-lang.listing_item.postdate%> <%-createdAt%></p>
                <% if (authorid == currentuserid || useraccess == "admin") { %>
                    <a href="/listing/edit?listingId=<%=id%>"><%-lang.listing_item.edit%></a>
                <% } %>
			</div>
			<div class="listing_data"><img src='<%picture%>' alt='listingimage'></div>
        </div>

    </div>
</body>
</html>