<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
	<link rel="stylesheet" href="/lapa/mainpage.css">
</head>
<body>
    <div class="header">
        <%- include('../misc/header.ejs') %>
    </div>
    <div class="main_container">
        <div class="categories">
			<%_ sections.forEach(element => { _%>
				<a href='/subsection/<%= element.id %>'>
					<button type="button">
						<%_ if (lang.header.current_lang == "ENG") { _%>
							<%- element.name _%>
						<%_ } else if(lang.header.current_lang == "LV") { _%>
							<%- element.nameLV _%>
						<%_ } _%>
						</button></a>
			<%_ }) _%>
        </div>
        <% if (user != null) { %>
            <% if (user.accesslevel.category_admin) { %>
                <a href="/section/admin"><%-lang.listing_item.edit%></a>
            <% } %>
        <% } %>
    </div>
</body> 
</html>