<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js" , type="module"></script>
	<title>Create Bid</title>
</head>

<body>
	<div class="header">
		<%- include('../misc/header') %>
	</div>
	<div class="main_container">
		<form id="createForm" action="/bid" method="post">
			<label for="bid_amount"><%-lang.bid.bid_amount%></label>
			<input type="number" id="bid_amount" name="bid_amount" required>
			<input type="hidden" id="listingid" name="listingid" value="<%=listingid%>" id="listing_id">
			<input type="submit" value="Submit"><br>
			<a href="/listing/item?id=<%=encodeUUID(listingid)%>" id="returntolist"><%-lang.listing_form.return%><br><br>
		</form>
	</div>
</body>

</html>