<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js" , type="module"></script>
	<title>Edit Bid</title>
</head>

<body>
	<div class="header">
		<%- include('../misc/header') %>
	</div>
	<div class="main_container">
		<form>
			<label for="bid_amount"><%-lang.bid.bid_amount%></label>
			<input type="number" id="bid_amount" name="bid_amount" value="<%=current_bid%>" required>
			<input type="hidden" value="<%=listingid%>" id="listing_id">
			<input hidden id="edit" value="true">
			<br>
		</form>
		<button id="update_bid" value="Up"><%-lang.bid.update%></button><br>
		<button id="dangerousdeletebuttonthatdestroys"><%-lang.bid.delete%></button><br><br>
		<a href="/listing/item?id=<%=encodeUUID(listingid)%>" id="returntolist"> <%-lang.listing_form.return%> </a><br><br>
	</div>
</body>

</html>