<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include('../misc/hardening.ejs') %>
    <link rel="stylesheet" href="/lapa/headerstyle.css">
	<div class="nav_buttons">
		<a href="<%=constants.section%>" id="home_button"><%=lang.header.home_button%></a>
		<a href='<%=constants.search%>' id="search_button"><%=lang.header.search_button%></a>
		<a href="<%=constants.publish%>" id="publish_button"><%=lang.header.publish_button%></a>
	</div>
	<h1 id="page_title"><%-lang.header.page_title%></h1>
    <form action="" method="post">
        <label for="user">Username or email</label>
        <input type="text" name="user" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <input type="submit" value="Log in">
		<input type="hidden" name="redirect" value="<%= redirect %>">
    </form>
    <form action="/user/signup">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>