<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
    </div>
    <div class="main_container">
        <% if (user != null) { %>
            <% if (authorid == user.id) { %>
		        <p><%=lang.userpage.welcome%>, <%=username%></p>
            <% } else { %> 
                <%=username%>
            <% } %> 
        <% } else { %> 
            <%=username%>
        <% }%>
        <ul>
		<% userlistings.forEach(element => { %>
			<li>
            <% if (element.status == 'open' || user.id == authorid) { %>
                <a href='/listing/item?listingId=<%=element.id%>'><%- element.title %></a>
            <% } %> 
            
            <% if (user != null) { %>
                <% if (authorid == user.id) { %>
                    <a href="/listing/edit?listingId=<%=element.id%>"><%-lang.listing_item.edit%></a>
                <% } %> 
            <% } %> 
            </li>
		<% }) %>
        
        </ul>
        <div class="admin_button">
            <% if (user != null) { %>
                <% if (user.accesslevel.ban_user && user.id != authorid) { %>
                    <% if(authorbanstatus) { %>
                        <button id="unbanbutton" value="<%=authorid%>">Unban user</button>
                    <% } else { %> 
                        <button id="banbutton" value="<%=authorid%>">Ban user</button>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>