<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
    </div>
    <div class="main_container">
		<p><%=username%></p>
		<% userlistings.forEach(element => { %>
			<a href='/listing/item?listingId=<%=element.id%>'><%- element.title %></a>
			<% if (authorid == currentuserid) { %>
				<a href="/listing/edit/item?listingId=<%=element.id%>">Edit</a>
			<% } %>
		<% }) %>
    </div>
</body>
</html>