<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header.ejs') %>
    </div>
    <div class="main_container">
        <div class="categories">
            <ul id="category_list">
                <% sections.forEach(element => { %>
                    <li>
                        <% if (lang.header.current_lang == 'ENG') { %>
                            <a href='/subsection/<%= element.id %>'><%- element.name %></a>
                        <% } else if(lang.header.current_lang == 'LV') { %>
                            <a href='/subsection/<%= element.id %>'><%- element.nameLV %></a>
                        <% } %>
                        <a href="/section/edit?sectionId=<%=element.id%>"><%-lang.admin.edit%></a>
                    </li>
                <% }) %>
            
            </ul>
        </div>
			<a href="/section/create"><%-lang.admin.add_sect%></a>
            <a href="/section"><%-lang.admin.return_sect%></a>
    </div>
</body>
</html>