<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js", type="module"></script>
	<title>Update subsection</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<div class="main_container">
		<form id="updateSubsection">
			<label for="subsection_name"><%-lang.admin.subsec_name%></label>
			<input type="text" id="subsection_name" name="subsection_name" value="<%=oldsubsectionname%>" required>
			<label for="lv_subsection_name"><%-lang.admin.lv_subsec_name%></label>
			<input type="text" id="lv_subsection_name" name="lv_subsection_name" value="<%=oldlvsubsectionname%>" required>	
			<label for="section_name"><%-lang.admin.sec_name%></label>
			<% if (lang.header.current_lang == 'ENG') { %>
				<input type="text" id="section_name" value="<%=sectionname%>" readonly>
			<% } else if(lang.header.current_lang == 'LV') { %>
				<input type="text" id="section_name" value="<%=lvsectionname%>" readonly>
			<% } %>
			<input type="text" id="sectionId" value="<%=secId%>" hidden readonly>
		</form>
		<button id="updatesubsection" value="Up"><%-lang.admin.update%></button><br>
		<button id="delete_subsection"><%-lang.admin.delete%></button><br>
		<a href="/subsection/<%=secId%>" id="returntosubsection"><%-lang.admin.return_subsect%></button><br><br>
	</div>
</body>