<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js", type="module"></script>
	<script src="/lapa/listing_create.js", type="module"></script>
	<title>Create Listing</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<div id = "imgdisplay">
		
	</div>
	<input accept="image/png, image/jpeg" type="file" name="imgupload" title="Upload image" id="imgupload">
	<form id="createForm" action="/listing" method="post">
		<label for="listing_name"><%-lang.listing_form.listing_title%></label>
		<input type="text" id="list_title" name="listing_name" required> 
		<label for="listing_description"><%-lang.listing_form.listing_desc%></label>
		<input type="text" id="list_desc" name="listing_description" required> 
		<label for="startprice"><%-lang.listing_form.start_price_label%></label>
		<input type="number" id="start_price" name="startprice" required>
		<label for="openstatus"><%-lang.listing_form.auction_status_label%></label>
		<input type="checkbox" value="open" id="open_status" name="openstatus">
		<label for="categoryname"><%-lang.listing_form.category_select_label%></label>
		<select id="categories" required>
		<option value="defcat"><%-lang.listing_form.category_def_val%></option>
		<% sections.forEach(element => { %>
			<% if (lang.header.current_lang == "ENG") { %>
				<option id="category" value="<%-element.id%>"><%-element.name%></option>
			<% } else if(lang.header.current_lang == "LV") { %>
				<option id="category" value="<%-element.id%>"><%-element.nameLV%></option>
			<% } %>
		<% }) %>
		<option id="sectioncount" value="<%=sectioncount%>" hidden></option>
		</select>
		<label for="subcatid"><%-lang.listing_form.subcategory_select_label%></label>
		<select id="subcategories" name="subcatid" required>
		<option id="deffsub" value="defsub"><%-lang.listing_form.subcategory_def_val%></option>
			<% sections.forEach(elem => { %>
				<% elem.subsections.forEach(element => { %>
					<% if (lang.header.current_lang == "ENG") { %>
						<option class="category_<%=elem.id%>" value="<%-element.id%>"><%-element.name%></option>
					<% } else if(lang.header.current_lang == "LV") { %>
						<option class="category_<%=elem.id%>" value="<%-element.id%>"><%-element.nameLV%></option>
					<% } %>
				<% }) %>
			<% }) %>
		</select><br>
		<input type="text" id="createfromexistsubcat" value="<%=createfromexistsubcat%>" hidden readonly>
		<input type="text" id="oldcategory" value="<%=currentsection%>" hidden readonly>
		<input type="text" id="oldsubcategory" value="<%=currentsubsection%>" hidden readonly>
		<input type="submit" value="Submit">
	</form>
</body>
</html>