<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js", type="module"></script>
	<script src="/lapa/listing_create.js", type="module"></script>
	<title>Create Listing</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<div id = "imgdisplay">
		
	</div>
	<input accept="image/png, image/jpeg" type="file" name="imgupload" title="Upload image" id="imgupload">
	<form id="createForm" action="/listing" method="post" enctype="multipart/form-data">
		<label for="listing_name">Listing title</label>
		<input type="text" id="list_title" name="listing_name" required> 
		<label for="listing_description">Listing description</label>
		<input type="text" id="list_desc" name="listing_description" required> 
		<label for="startprice">Starting price</label>
		<input type="number" id="start_price" name="startprice" required>
		<label for="openstatus">Auction open?</label>
		<input type="hidden" value="closed" id="open_status_def" name="openstatus">
		<input type="checkbox" value="open" id="open_status" name="openstatus">
		<label for="categoryname">Choose a Category</label>
		<select id="categories" required>
		<option value="defcat">Category select</option>
		<% sections.forEach(element => { %>
			<option id="category" value="<%-element.id%>"><%-element.name%></option>
		<% }) %>
		<option id="sectioncount" value="<%=sectioncount%>" hidden></option>
		</select>
		<label for="subcatid">Subcategory name</label>
		<select id="subcategories" name="subcatid" required>
		<option id="deffsub" value="defsub">Subcategory select</option>
			<% sections.forEach(elem => { %>
				<% elem.subsections.forEach(element => { %>
					<option class="category_<%=elem.id%>" value="<%-element.id%>"><%-element.name%></option>
				<% }) %>
			<% }) %>
		</select><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>