<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/lapa/client.js", type="module"></script>
	<title>Create Listing</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<form action="/listing" method="post">
		<label for="listing_name"><%-lang.listing_form.listing_title%></label>
		<input type="text" id="list_title" name="listing_name" value="<%=existing_title%>" required> 
		<label for="listing_description"><%-lang.listing_form.listing_desc%></label>
		<input type="text" id="list_desc" name="listing_description" value="<%=existing_desc%>" required > 
		<label for="startprice"><%-lang.listing_form.start_price_label%></label>
		<input type="number" id="start_price" name="startprice" value="<%=existing_startprice%>" required>
		<label for="openstatus"><%-lang.listing_form.auction_status_label%></label>
		<input type="checkbox" id="open_status" name="openstatus" value="<%=existing_status%>">
		<label for="categoryname"><%-lang.listing_form.category_select_label%></label>
		<select id="categories" required>
		<option value="<%=existing_category%>"><%-lang.listing_form.category_def_val%></option>
		<% sections.forEach(element => { %>
			<option id="category" value="<%-element.id%>"><%-element.name%></option>
		<% }) %>
		<option id="sectioncount" value="<%=sectioncount%>" hidden></option>
		</select>
		<label for="subcatid"><%-lang.listing_form.subcategory_select_label%></label>
		<select id="subcategories" name="subcatid" required>
		<option id="deffsub" value="<%=existing_subcategory%>"><%-lang.listing_form.subcategory_def_val%></option>
			<% sections.forEach(elem => { %>
				<% elem.subsections.forEach(element => { %>
					<option class="category_<%=elem.id%>" value="<%-element.id%>"><%-element.name%></option>
				<% }) %>
			<% }) %>
		</select>
		<button id="updatebutton" value="Update">
	</form>
</body>
</html>